@charset "UTF-8";

/*
    em HTML é id = em CSS é # (jogo da velha) só posso ter um elemento
    em HTML é class = em CSS é . (ponto) posso ter varios elementos
*/

body {
    background-color: rgb(211, 252, 151);
}

h1 {
    color: rgb(0, 87, 128);
    
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

.basico {
    color: red;
}

.intermediario {
    color: rgb(102, 95, 3);
}

.avancado {
    color: blue;
}

.destaque {
    background-color: rgba(255, 255, 1, 0.884);
}